

<div class="about-us">
    <div class="about-us__description">
        <div class="title">
            <h1> Qui <span class="test">Sommes-Nous ?</span></h1>
        </div>
        <div class="cercle">
            <img src="../../assets/ethan-berrebi.jpg"/>
          </div>
    
    <p>Fondée en 2023 par Ethan Berrebi, créateur de contenu aux 3 millions d’abonnés sur les réseaux sociaux, MEGA CONTENT est une agence de communication digitale en France et à l’international.<br><br>

        De la campagne d’influence à la gestion de talents, en passant par l’identité de marque et la production de contenus, nous maîtrisons l’ensemble des besoins d’une marque pour communiquer de manière efficace sur internet. <br><br>
         
        Les équipes de MEGA CONTENT sont composées de personnalités issues du monde de l’influence d’une part, et d’équipes formées dans la production audiovisuelle d’une autre. Une alliance inédite, qui permet de créer en interne des contenus de qualité supérieure, adaptés à tous les publics et adaptables à toutes les stratégies digitales.</p>
         
        <br><br>
        <a href="https://www.linkedin.com/company/mega-content/posts/?feedView=all" target="_blank" style="text-align: center;"><button>Linkedin</button></a>
    
    </div>
          <div class="about-us__img">
             <img src="../../assets/vision.jpeg">
        </div>
        </div>

<section class="values-section">
    <div class="title">
        <h1> Nos <span class="test">Valeurs</span></h1>
    </div>
    <div class="values">
        <div class="value">
            <img class="value-icon" src="assets/speed.png" alt="Réactivité">
            <div class="value-text">Réactivité</div>
            <p class="value-description">La réactivité est notre force motrice <br> pour répondre aux défis rapidement.</p>
        </div>
        <div class="value">
            <img class="value-icon" src="assets/flexibility.png" alt="Flexibilité">
            <div class="value-text">Flexibilité</div>
            <p class="value-description">Nous sommes flexibles pour nous adapter <br> aux besoins changeants de nos clients.</p>
        </div>
        <div class="value">
            <img class="value-icon" src="assets/globe.png" alt="Worldwide">
            <div class="value-text">International</div>
            <p class="value-description">Nos activités sont mondiales. USA, UK,<br> Allemagne, Espagne…engagés à servir<br> nos clients partout.</p>
        </div>
    </div>
</section>