<div class="title">
    <h1> Nos <span class="test">Partenaires</span></h1>
</div>


<div class="partners-container">
    <div class="partner">
        <img src="../../assets/voodoo.png" alt="voodoo" width="150"/>
    </div>

    <div class="partner">
        <img src="../../assets/unlockt.me.svg" alt="unlockt.me" width="150" />
    </div>

    <div class="partner">
        <img src="../../assets/universal-music.png" alt="universal-music" width="150"/>
    </div>

    <div class="partner">
        <img src="../../assets/wizz.png" alt="lidl" width="150" />
    </div>

    <div class="partner">
        <img src="../../assets/franck-provost.png" alt="franck-provost" width="150"/>
    </div>

    <div class="partner">
        <img src="../../assets/crazy-tiger.png" alt="crazy-tiger" width="150"/>
    </div>

    <div class="partner">
        <img src="../../assets/chlew.png" alt="chlew" width="150"/>
    </div>

    <div class="partner">
        <img src="../../assets/buffalo.png" alt="buffalo" width="150"/>
    </div>
</div>