<div class="banner"></div>

<footer class="footer">
    <div class="footer__logo" (click)="redirectToHome()">
      <img src="../assets/logo.png" alt="Logo">
    </div>
    <div class="footer__copyright">
      <p>© Copyright 2024 - Mega Content</p>
      <a href="https://kleakagency.fr/" target="_blank">Créé par Kleak Agency</a>
    </div>
    <div class="footer__social">
      <a href="https://www.instagram.com/mega.content/" target="_blank"><img src="../assets/tiktok.png" height="30" alt="Tiktok"></a>
      <a href="https://www.instagram.com/mega.content/" target="_blank"><img src="../assets/instagram.png" height="30" alt="Instagram"></a>
    </div>
  </footer>
  