<div class="grid-item">
    <div class="image-container">
        <img [src]="imageUrl" [alt]="altText" class="img-fluid">
        <div class="overlay position-absolute d-flex justify-content-center align-items-center">
            <img src="../../../assets/tiktok.png" width="10" height="10" />
            <span class="name text-white">{{ tiktok }}</span>
            <br>
            <img src="../../../assets/instagram.png" width="10" height="10" />
            <span class="surname text-white">{{ instagram }}</span>
        </div>
    </div>
    <br>
    <span class="grid-item__identity"> {{ name }}</span>
</div>
